body {
    font-family: Arial;
    min-width: 600px;
}

button {
    padding: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    color: coral;
    background: aliceblue;
    text-transform: uppercase;
    width: 100%;
}

button[disabled] {
    color: gray;
    background: lightgray;
}

.app-title {
    font-size: 28px;
}

.helper-wrapper {
    height: 225px;
    /*border: 1px solid gray;*/
}

.helper-log {
    width: 99%;
    height: 400px;
}

.creds-wrapper {
    padding-left: 10px;
}

.creds-wrapper input[type=text], .creds-wrapper select {
    width: 100%;
}

input {
    width: 100%;
}

table {
    width: 100%;
}

td.c1 {
    width: 150px;
}

td.c2 {
    width: 120px;
}

td.c3 {
    padding-right: 10px;
}
